{% extends "./base.html" %}

{% block body %}

    {% if current_user.is_authenticated == false %}
        <p>Inicia sesión para ver tus cursos</p>
    
    {% else %}

    {% if current_user.rango == "Profe" %}
            <button onclick="mostrarFormulario()">Crear Curso</button>
            <br>

            <div id="form-curso" style="display:none;">
                <input type="text" id="nombre_curso" placeholder="Nombre del curso" style="max-width: 200px;">
                <button onclick="crearCurso()">Crear</button>
            </div>
    {%else%}
            <div style="margin-top:20px; padding:10px;">
            <button onclick="mostrarUnirse()">Unirse a curso</button>

        
            <input id="form-unirse" style="display:none;" type="text" placeholder="Código del curso">
            <button id="boton-unirse" style="display:none;" onclick="unirseCurso()">Unirse</button>
        </div>
    {% endif %}

    <ul id="lista">

</ul>

    {% endif %}


<script>
    async function loadcursos() {
        try {
            const res = await fetch('/api/cursos');
            const data = await res.json();

            if (!Array.isArray(data)) {
                console.error("Respuesta inesperada:", data);
                alert("Error al obtener los cursos");
                return;
            }

            const container = document.getElementById("lista");
            container.innerHTML = "";

            for (const curso of data) {
                const div = document.createElement("div");
                div.style.marginBottom = "15px";
                div.style.border = "1px solid black";

                div.innerHTML = `
                <h1 onClick="location.href='http://127.0.0.1:5000/curso/${curso.codigo}'"><strong>Clase:</strong> ${curso.nombre}</h1>
            `;

            container.appendChild(div);
        }
    } catch (err) {
        if (current_user.is_authenticated == false) {
            console.error("Error al cargar cursos:", err);
        }
        else {
            console.error("Error al cargar cursos:", err);
            alert("Error al cargar cursos");
        }
        
    }
}

function mostrarFormulario() {
    document.getElementById("form-curso").style.display = "inline";
}

function mostrarUnirse() {
    document.getElementById("form-unirse").style.display = "inline";
    document.getElementById("boton-unirse").style.display = "inline";
}

    async function crearCurso() {
        const nombre = document.getElementById("nombre_curso").value;
        if (!nombre) {
            alert("Falta el nombre del curso");
            return;
        }

        try {
            const res = await fetch("/api/cursos", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ nombre })
            });

            const data = await res.json();
            if (data.success) {
                alert("Curso creado correctamente");
                loadcursos();
                document.getElementById("form-curso").style.display = "none";
                document.getElementById("nombre_curso").value = "";
            } else {
                alert("Error: " + data.error);
            }
        } catch (err) {
            console.error("Error creando curso:", err);
            alert("Error al crear el curso");
        }
    }

async function unirseCurso() {
    const codigo = document.getElementById("form-unirse").value;
    if (!codigo) {
        alert("Ingresa un código");
        return;
    }

        try {
            const res = await fetch("/api/unirse", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ codigo })
            });

            const data = await res.json();
            if (data.success) {
                alert("Te uniste al curso: " + data.curso.nombre);
                loadcursos();
            } else {
                alert("Error: " + data.error);
            }
        } catch (err) {
            console.error("Error uniendo al curso:", err);
            alert("Error en el servidor");
        }
    }


    function entrar() {

    }

    window.onload = loadcursos;
</script>
{% endblock %}